* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #14bdac;
    margin: 50px;
    padding: 50px;
    width: 500px;
    height: 500px;
}